<!DOCTYPE html>
<html>
<head>
	<title>Welcome to TodoApp</title>
</head>
<body>
<a href=""><h3>MY first Todo list</h3> </a>
<form action="/">
<select name="choose" onchange="this.form.submit()" >
   <option >Sort By</option>
   <option value="1">Priority</option>
   <option value="2">Date</option>
 </select>
</form>
<br>
<br>
<form action="/" method="post">{% csrf_token %}
	<input type="text" name="task_data"/>
	<select name="priority" >
  <option value="1">High</option>
  <option value="2">Medium</option>
  <option value="3">Low</option>
</select>
<input type="text" name="task_date" placeholder="YYYY-MM-DD HH:MM" title="Enter a date in this formart YYYY-MM-DD HH:MM"/> <br>
	<input type="submit"/>
</form>
<a href='/delete_all/'> <button>Delete All</button> </a> <br>
<a href='/logout'> <button>Logout</button> </a> <br>

{% for x in todo_list %}
    <a href='/delete/{{x.id}}/'> Delete</a>
    <a href="/update/{{x.id}}/"> update </a>
	{{x.task}}
	<strong>{{x.priority}}</strong>
	Date: <strong>{{x.due_date}}</strong><br>
{% endfor %}
</body>
</html>