<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/custom.css" type="text/css"/>
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-static-top" style="background-color: #337ab7;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">To-do List</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>Hello, {{username}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    
       
                        <li>             
                                  
                                        <p class="text-center"><strong>{{username}}</strong></p>
                                        <p class="text-center small">{{emailid}}</p>
                                        <p class="text-left">
                                        </p>
                        </li>
                        
                       
                        <li class="divider"></li>
                         <li><a href="#">Change Password </a></li>         
            <li class="divider"></li>
             <li><a href='/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li> 
               
               </ul>
              
              
                </li>           
      </ul>   
      
    </div>
   
  </div>
</nav>


    <div class="container">
  <label><h3>Write your Task</h3></label>

    <form role="form" action="/" method="post">{% csrf_token %}
      <div class="row">
        <div class="col-sm-5">
         <div class="form-group">
        <input type="text" class="form-control" placeholder="Your Task" name="task_data" />
       </div>
       </div>

       <div class="col-sm-2">
       <div class="form-group">
      <select class="form-control"  name="priority"> 
      <option>Priority</option>
        <option value="1">High</option>
        <option value="2">Medium</option>
        <option value="3">Low</option>
       </select>
        </div>
       </div>

       <div class="col-sm-1">
      <h4><strong>Due_date:</strong></h4>
      </div>
       <div class="col-sm-3">
         <div class="form-group">
        <input type="text" name="task_date" class="form-control" placeholder="YYYY-MM-DD HH:MM" title="Enter a date in this formart YYYY-MM-DD HH:MM" />
         </div>
         </div>
       </div>

       <button type="submit" name="submit" class="btn btn-info btn-sm">Submit</button>
    </form>
 
        <div class="row">
         <div class="col-sm-9"></div>
          <div class="col-sm-1">
         <a href='/delete_all/'><button type="button" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-trash"></span> Delete All
        </button></a>
        </div>
        
         <form action="/">
        <div class="col-sm-2">
       <div class="form-group">
      <select class="form-control"  name="choose" onchange="this.form.submit()">
       
      <option >Sort By</option>
        <option value="1">Priority</option>
        <option value="2">Date</option>
        
        </select>
        </div>
        </div>
        </form>
       </div>
       <table class="table table-bordered" style="background-color: white">
    <thead class="bg-primary">
      <tr>
        <th>Task list</th>
        <th>Priority</th>
        <th>Due_date</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
    {% for x in todo_list %}
      <tr>
        <td>{{x.task}}</td>
        <td>{{x.priority}}</td>
        <td>{{x.due_date}}</td>
        <td>
       <a href='/delete/{{x.id}}/'><button type="button" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button></a>

        <a href="/update/{{x.id}}/"><button type="button" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button></a>       
        </td>
       
      </tr>
     {% endfor %}
    </tbody>
    
  </table>
   </div> 
  
 
</body>
</html>