{% extends "master.html" %}
{% block hello_user %} {{user}} {% endblock %}
{% block text-center %} {{username}} {% endblock %}

{% block center %} {{emailid}}{% endblock %}
{% block container %} 
 
  <label><h3>Write your Task</h3></label>

    <form role="form" action="/" method="post">{% csrf_token %}
      <div class="row">
        <div class="col-sm-5">
         <div class="form-group">
        <input type="text" class="form-control" placeholder="Your Task" name="task_data" />
       </div>
       </div>

       <div class="col-sm-2">
       <div class="form-group">
      <select class="form-control"  name="priority"> 
      <option>Priority</option>
        <option value="1">High</option>
        <option value="2">Medium</option>
        <option value="3">Low</option>
       </select>
        </div>
       </div>

       <div class="col-sm-1">
      <h4><strong>Due_date:</strong></h4>
      </div>
       <div class="col-sm-3">
         <div class="form-group">
        <input type="text" name="task_date" readonly class="form-control form_datetime" placeholder="YYYY-MM-DD HH:MM"  />
         </div>
         </div>

         <script type="text/javascript" src="/static/bootstrap-datetimepicker/sample in bootstrap v2/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/sample in bootstrap v2/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>

       </div>

       <button type="submit" name="submit" class="btn btn-info btn-sm">Submit</button>
    </form>
 
        <div class="row">
         <div class="col-sm-9"></div>
          <div class="col-sm-1">
         <a href='/delete_all/'><button type="button" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-trash"></span> Delete All
        </button></a>
        </div>
        
         <form action="/">
        <div class="col-sm-2">
       <div class="form-group">
      <select class="form-control"  name="choose" onchange="this.form.submit()">
       
      <option >Sort By</option>
        <option value="1">Priority</option>
        <option value="2">Date</option>
        
        </select>
        </div>
        </div>
        </form>
       </div>
       <table class="table table-bordered" style="background-color: white">
    <thead class="bg-primary">
      <tr>
        <th>Task list</th>
        <th>Priority</th>
        <th>Due_date</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
    {% for x in todo_list %}
      <tr>
        <td>{{x.task}}</td>
        <td>{{x.priority}}</td>
        <td>{{x.due_date}}</td>
        <td>
       <a href='/delete/{{x.id}}/'><button type="button" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button></a>

        <a href="/update/{{x.id}}/"><button type="button" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button></a>       
        </td>
       
      </tr>
     {% endfor %}
    </tbody>
    
  </table>
  
 {% endblock %}

{% block calender %} {% endblock %} 