<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/custom.css" type="text/css"/>
  <link rel="stylesheet" href="/static/style.css" type="text/css"/>
 
  <link href="/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

</head>
<body>
<nav class="navbar navbar-custom navbar-static-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">To-do List</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>Hello, {% block hello_user %} {% endblock %}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    
       
                        <li>             
                                        <a href="#" class="text-center"><strong>{% block text-center %} {% endblock %}</strong></a>
                                        <a href="#">{% block center %} {% endblock %}</a>
                                        <p class="text-left">
                                        </p>
                        </li>
                        
                       
                        <li class="divider"></li>
                         <li><a href="/new_password/">Change Password </a></li>         
                        <li class="divider"></li>
                         <li><a href='/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li> 
                   
               
               </ul>
              
              
                </li>           
      </ul>   
      
    </div>
   
  </div>
</nav>


    <div class="container">
 {% block container %} {% endblock %} 
   </div> 
 {% block calender %} 

{% endblock %} 
</body>
</html>