<!DOCTYPE html>
<html>
<body>
<h2>Registration</h2><br>
<form action="/registration/" method="post">{% csrf_token %}
	User Name:<input type="text" placeholder="Enter Name" name="user_name"><br>
    Email_id :<input type="text" placeholder="Enter Email" name="email_id" ><br>
    Password :<input type="password" placeholder="Enter Password" name="passwd" > <br>
    <button type="submit" name="submit" align="middle">Sign Up</button><br>   
</form>
<a href="/login/"><button>Login</button></a>
<br>
<b>{{text}}</b>
</body>
</html>