{% extends "layout.html" %}
{% block hello_user %} {{user}} {% endblock %}
{% block text-center %} {{username}} {% endblock %}
{% block center %} {{emailid}}{% endblock %}
    {% block container %}
  <label><h2>Edit your Task</h2></label>

    <form role="form" action="/newpage/{{xyz.id}}/" method="post">{% csrf_token %}
      <div class="row">
        <div class="col-sm-5">
         <div class="form-group">
        <input type="text" name="name" value="{{xyz.task}}" class="form-control" />
       </div>
       </div>

       <div class="col-sm-2">
       <div class="form-group">
      <select class="form-control"  name="priority"> 
        <option {% if xyz.priority == 1 %}selected="selected"{% endif %} value="1">High</option>
        <option {% if xyz.priority == 2 %}selected="selected"{% endif %} value="2">Medium</option>
        <option {% if xyz.priority == 3 %}selected="selected"{% endif %} value="3">Low</option>
       </select>
        </div>
       </div>

       <div class="col-sm-1">
      <h4><strong>Due_date:</strong></h4>
      </div>
       <div class="col-sm-3">
         <div class="form-group">
         <input type="text" name="update_date" value="{% if xyz.due_date %}{{xyz.due_date.year}}-{{xyz.due_date.month}}-{{xyz.due_date.day}} {{xyz.due_date.hour}}:{{xyz.due_date.minute}}{% endif %}" readonly class="form-control form_datetime" placeholder="YYYY-MM-DD HH:MM"  />
      
         </div>
         </div>
  
       </div>

       <button type="submit" class="btn btn-info btn-md">Submit</button>
       <a href="/"><button type="button" class="btn btn-info btn-md">Cancel</button></a>  
    </form>
 
{% endblock %}
 {% block calender %}     
         <script type="text/javascript" src="/static/bootstrap-datetimepicker/sample in bootstrap v2/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/sample in bootstrap v2/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script> {% endblock %}